<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic"><%= @featured_wikis[0].title %></h1>
      <p class="lead my-3"><%= @featured_wikis[0].body[(0..100)] %>...</p>
      <p class="lead mb-0"><%= link_to t('helpers.continue_reading'), @featured_wikis[0], class: "text-white fw-bold" %></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><%= Wiki.translate_enum(:categories, @featured_wikis[1].category) %></strong>
          <h3 class="mb-0"><%= @featured_wikis[1].title %></h3>
          <div class="mb-1 text-muted"><%= @featured_wikis[1].created_at.strftime('%b %d') %></div>
          <p class="card-text mb-auto"><%= @featured_wikis[1].body[(0..100)] %>...</p>
          <%= link_to t('helpers.continue_reading'), @featured_wikis[1], style: "width: fit-content;" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"><%= Wiki.translate_enum(:categories, @featured_wikis[2].category) %></strong>
          <h3 class="mb-0"><%= @featured_wikis[2].title %></h3>
          <div class="mb-1 text-muted"><%= @featured_wikis[1].created_at.strftime('%b %d') %></div>
          <p class="mb-auto"><%= @featured_wikis[2].body[(0..100)] %>...</p>
          <%= link_to t('helpers.continue_reading'), @featured_wikis[2], style: "width: fit-content;" %>
        </div>
      </div>
    </div>
</div>