<%= form_with(model: wiki, class: "d-flex flex-column align-items-center") do |form| %>
  <% if wiki.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
        <% wiki.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-3" style="width: -webkit-fill-available; width: -moz-available">
    <div class="card-body">
      <div class="mb-3 text-center">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class:"form-control" %>
      </div>

      <div class="mb-3 text-center">
        <%= form.label :body, class: "form-label" %>
        <%= form.text_area :body, class:"form-control", style: "height: 40vh;" %>
      </div>

      <div class="text-center">
        <%= form.submit "Submit", :class => "btn btn-outline-success" %>
      </div>
    </div>
  </div>

<% end %>
