<%# Delete Wiki Modal %>

<div class="modal fade" id="deleteWikiModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%= t('helpers.modals.confirmation') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= t('wiki.delete_confirmation') %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('helpers.modals.close') %></button>
        <%= button_to t("helpers.submit.destroy"), @wiki, method: :delete, class: "btn btn-danger", data: {turbo: false} %>
      </div>
    </div>
  </div>
</div>

<%# Select Translation Modal %>

<div class="modal fade" id="selectTranslationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><%= t('helpers.modals.select_locale') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <%= form_with url: edit_translation_path(@wiki), method: :get do |form| %>
      <div class="modal-body">
          <%= form.select :locale, I18n.available_locales.to_h { |locale| [t("#{locale}"), locale] }.to_a, {}, {:class => "form-select"} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('helpers.modals.close') %></button>
        <%= form.submit t('helpers.submit.continue'), class: "btn btn-info" %>
      </div>
        <% end %>
    </div>
  </div>
</div>