<main class="container">

  <%= render "featured" %>

  <div class="row g-5">
    <div class="col-md-8" id="wikis">
      <% if notice %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        <% if @category.present? %>
          <%= t('wiki.category_relation', category: @category) %>
        <% else %>
          Wikis
        <% end %>
      </h3>
      <% if @wikis.empty? %>
        <h2 class="text-center mt-3 fst-italic"><%= t('helpers.404') %></h2>
      <% else %>
        <% @wikis.each do |wiki| %>
          <%= render wiki %>
        <% end %>
        <%= paginate @wikis, params: { anchor: "wikis" } %>
      <% end %>
    </div>

    <%= render "aside" %>

  </div>

</main>
