<main class="container">

  <%= render "featured" %>

  <div class="row g-5">
    <div class="col-md-8" id="wikis">
      <% if notice %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        <%= @category if @category.present? %> Wikis 
      </h3>
      <% @wikis.each do |wiki| %>
        <%= render wiki %>
      <% end %>

      <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
      </nav>

    </div>

    <%= render "aside" %>

  </div>

</main>
