<!DOCTYPE html>
<html>
  <head>
    <title>KuroWiki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="link-secondary" href="#">english / español</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="/">Kuro Wiki</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="link-secondary" href="#" aria-label="Search">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <%= link_to "World", wiki_index_path(:anchor => "wikis", :category => "0"), class: "p-2 link-secondary" %>
          <%= link_to "Art", wiki_index_path(:anchor => "wikis", :category => "1"), class: "p-2 link-secondary" %>
          <%= link_to "Technology", wiki_index_path(:anchor => "wikis", :category => "2"), class: "p-2 link-secondary" %>
          <%= link_to "History", wiki_index_path(:anchor => "wikis", :category => "3"), class: "p-2 link-secondary" %>
          <%= link_to "Culture", wiki_index_path(:anchor => "wikis", :category => "4"), class: "p-2 link-secondary" %>
          <%= link_to "Business", wiki_index_path(:anchor => "wikis", :category => "5"), class: "p-2 link-secondary" %>
          <%= link_to "Politics", wiki_index_path(:anchor => "wikis", :category => "6"), class: "p-2 link-secondary" %>
          <%= link_to "Philosophy", wiki_index_path(:anchor => "wikis", :category => "7"), class: "p-2 link-secondary" %>
          <%= link_to "Science", wiki_index_path(:anchor => "wikis", :category => "8"), class: "p-2 link-secondary" %>
          <%= link_to "Health", wiki_index_path(:anchor => "wikis", :category => "9"), class: "p-2 link-secondary" %>
          <%= link_to "Religion", wiki_index_path(:anchor => "wikis", :category => "10"), class: "p-2 link-secondary" %>
          <%= link_to "Games", wiki_index_path(:anchor => "wikis", :category => "11"), class: "p-2 link-secondary" %>
        </nav>
      </div>
    </div>

    <%= yield %>
    
    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
  </body>
</html>
